{% extends "base.html.jinja2" %}

{% block title %}Task{% endblock %}

{% block content %}

<div class="col ps-4 pt-4">
    <div class="row">
        <h4>{{task.description}}</h4>
    </div>
    <div class="row">
        <ul>
        {% for key,val in task|items %}
            <li>{{key}}: {{val}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}